
@keyframes moveLeft{
    0%{
        transform : translateX(-6.25rem);
        opacity: 0;
    }
    80%{
        transform: translate(1.875rem)
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes moveRight{
    0%{
        transform : translateX(6.25rem);
        opacity: 0;
    }
    80%{
        transform : translateX(-1.875rem)
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes slideup{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}