
.sec-heading{
    font-size: 2.1875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    @include backgroundClip;
     margin-bottom: 5rem;
     transition: all .2s ease-in-out;
     &:hover,
     &:focus,
     &:active{
        transform: scale(1.1);
        text-shadow: 5px 10px 20px rgba($color-dark, .2);
     }
   
}

.ter-heading{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.25re;
}

.paragraph{
    font-size: 1rem;
    // margin-bottom: 1.875rem;
    // &:last-child{
    //     margin-bottom: 0;
    // }

    &:not(:last-child){
        margin-bottom: 1.875rem;
    }
}

