


.text-center{
    text-align: center;
}

::selection{
    background-color: $color-primary-dark;
    color: $color-white;
}


.mb-80{
    margin-bottom: 5rem;
}

.mb-20{
    margin-bottom: 1.25rem;
}