
.section-about{
    padding: 15.625rem 0;
    background-color: $color-grey-light-1;
    margin-top: -12.5rem;
    // transform: translateY(-12.5rem);
    // position: relative;
   
}


.section-features{
    padding: 15.625rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary, .8),
    rgba($color-primary-dark, .8)),url(../images/nat-4.jpg);
    transform: skewY(-7deg);
    background-size: cover;
    margin-top: -6.25rem;

    > *{
        transform: skewY(7deg);
    }
}


.section-tours{
    padding: 15.62rem 0 9.37rem;
    background-color: $color-grey-light-1;
    margin-top: -6.25rem;
}